@import url(https://dl.dropboxusercontent.com/s/pe42l8ujxerwh4z/anime.css);
@import url(https://knjbmflagdkwzl.github.io/temp/EnKE7NeS2gfuYWUbQjt.css);


#copyright:after{
content: "Visit https://myanimelist.net/forum/?topicid=443333 to repair missing preview pics." !important;
}

body
{
	font-size: 15px;
}
a
{
	text-decoration: none !important;
}
body, td, a
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#list_surround
{
	top: 6%;
	margin-top: 5px;
	margin-left: 5px;
	width: 100%;
	border-radius: 42px;
}
#list_surround .List_LightBox
{
	display: block;
	visibility: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	font-size: 0px;
}
#list_surround > table:nth-of-type(n+4):not(.header_cw):not(.header_completed):not(.header_onhold):not(.header_dropped):not(.header_ptw),
.hide
{
	float: left;
	position: relative;
	width: 220px;
	height: 300px;
	margin: 10px;
	z-index: 9;
}
#list_surround > table:nth-of-type(n+4):not(.header_cw):not(.header_completed):not(.header_onhold):not(.header_dropped):not(.header_ptw)
{
	z-index: 10;
}
.hide
{
	display: block !important;
	margin-left: -230px;
}
.td1, .td2
{
	position: absolute;
}
.td1:nth-of-type(2), .td2:nth-of-type(2)
{
	visibility: hidden;
	padding: 0px;
	width: 100%;
	height: 100%;
}
.animetitle
{
	visibility: visible;
	position: inherit;
	top: 5%;
	margin: 5%;
	width: 90%;
	text-align: center;
	font-weight: bold;
}
.td1 a + small, .td2 a + small
{
	visibility: visible;
	position: inherit;
	bottom: 3px;
	right: 8px;
	font-size: 15px;
}
.td1:first-of-type, .td2:first-of-type
{
	display: none;
}
.td1:nth-of-type(4)[width="50"], .td2:nth-of-type(4)[width="50"]
{
	text-align: left;
	top: 3px;
	left: 8px;
	font-weight: normal !important;
}
.td1:nth-of-type(6)[width="90"], .td2:nth-of-type(6)[width="90"]
{
	text-align: left;
	top: 3px;
	left: 8px;
}
.td1:nth-of-type(7)[width="50"], .td2:nth-of-type(7)[width="50"]
{
	text-align: right;
	top: 3px;
	right: 8px;
}
.td1:nth-of-type(3), .td2:nth-of-type(3)
{
	text-align: center;
	bottom: 7%;
	right: 7%;
	width: 60px;
	font-size: 40px;
	font-weight: bold;
}
.td1:nth-of-type(5), .td2:nth-of-type(5), .td1:nth-of-type(4), .td2:nth-of-type(4)
{
	bottom: 11%;
	left: 11%;
	width: auto;
	font-weight: bold;
}
.td1:nth-of-type(4), .td2:nth-of-type(4)
{
	left: 11%;
	bottom: 22%;
}
input
{
	width: auto;
	text-align: center;
}
input, .inputtext
{
	font-size: 15px;
	border: none;
	border-radius: 4px;
}
.inputtext
{
	width: 100%;
	height: 103px;
}
input[value=Go]
{
	display: none;
}
.td1:nth-of-type(8)[width="90"], .td2:nth-of-type(8)[width="90"]
{
	bottom: 3px;
	left: 3px;
}
.td1:nth-of-type(9)[width="90"], .td2:nth-of-type(9)[width="90"]
{
	bottom: 3px;
	right: 3px;
}
.td1:nth-of-type(n+8)[width="80"], .td2:nth-of-type(n+8)[width="80"]
{
	text-align: left;
	bottom: 3px;
	left: 8px;
}
.td1:nth-of-type(n+6)[width="125"], .td2:nth-of-type(n+6)[width="125"]
{
	text-align: center;
	display: none;
	width: 93%;
	margin-top: 48%;
	margin-left: 3%;
	overflow: visible;
}
.category_totals:before
{
	display: block;
	content: "Totals:";
	font-weight: bold;
}
.category_totals
{
	padding: 0px 30px;
	text-align: center;
	white-space: pre-line;
	border-radius: 10px;
}
#grand_totals:before
{
	content: "Grand Totals: ";
	font-weight: bold;
}
#grand_totals, #copyright
{
	clear: both;
	position: relative;
	top: 10px;
	left: 16%;
	text-align: center;
	width: 60%;
	padding: 6px;
	border-radius: 10px;
	margin-bottom: 20px;
}
#copyright:before
{
	content: "CSS made by U531355 (2012) and edited by Kezian (2013-2014).";
	display: block;
	margin-bottom: 10px;
}
#list_surround > br
{
	display: none;
}
#list_surround > table:first-of-type:before
{
	top: 104px;
}
#list_surround > table:first-of-type
{
	top: 96px;
}
.header_cw + table:before, .header_completed + table:before, .header_onhold + table:before,
.header_dropped + table:before, .header_ptw + table:before
{
	top: 137px;
}
.header_cw + table, .header_completed + table, .header_onhold + table,
.header_dropped + table, .header_ptw + table
{
	top: 129px;
}
#list_surround > table:first-of-type, .header_cw + table, .header_completed + table,
.header_onhold + table, .header_dropped + table, .header_ptw + table
{
	right: 88px;
}
#list_surround > table:nth-of-type(n+4) ~ .header_cw + table,
#list_surround > table:nth-of-type(n+4) ~ .header_completed + table,
#list_surround > table:nth-of-type(n+4) ~ .header_onhold + table,
#list_surround > table:nth-of-type(n+4) ~ .header_dropped + table,
#list_surround > table:nth-of-type(n+4) ~ .header_ptw + table
{
	display: none;
}
.table_header:first-of-type, .table_header[width="125"]
{
	display: none;
}
#fancybox-outer
{
	border-radius: 7px;
}
body
{
	color: white;
	background-color: black;
}
.status_selected a
{
	box-shadow: 0 0 3px 1px rgb(224, 17, 95) !important;
}
.hide
{
	box-shadow: 0px 0px 30px 0px rgb(0, 0, 0) inset !important;
}
.td1:nth-of-type(8)[width="90"], .td2:nth-of-type(8)[width="90"]
{
	display: none;
}
.td1:nth-of-type(9)[width="90"], .td2:nth-of-type(9)[width="90"]
{
	display: none;
}
#list_surround > table:nth-child(2)
{
	width: 100%;
	height: initial;
	float: initial;
	border: none;
}
.table_header
{
	display: none;
}
#mal_cs_powered {
	position: inherit;
	top: 0px;
	right: 0px;
}

table
{
	border: 1px solid #4E4E4E;
}
#mal_control_strip, .header_cw, .header_completed, .header_onhold, .header_ptw
{
	width: 100%;
	height: initial;
	float: initial;
	border: none;
}

.header_cw, .header_completed, .header_onhold, .header_dropped, .header_ptw
{
	padding-top: 50px;
}

#list_surround > table > tbody > tr > td > a, #list_surround > table > tbody > tr > td > span >a
{
	color: rgb(102, 204, 204);
	font-weight: bold;
}
#list_surround > table > tbody > tr > td > a, #list_surround > table > tbody > tr > td > span > a 
{
    color: #FFF;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

body, #mal_control_strip, #mal_control_strip, .header_cw, .header_completed, .header_onhold, .header_ptw, #list_surround 
{
    width: 99.123456%;
}


.td1:nth-of-type(3), .td2:nth-of-type(3), .td1:nth-of-type(5), .td2:nth-of-type(5)
{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}
.td1:nth-of-type(5), .td2:nth-of-type(5)
{
	padding: 2px;
}
