<div class='orders-wraper'>
    <h1>You Orders</h1>
    <table class='table table-striped table-hover'>
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Client Address</th>
                <th>Delivery Method</th>
                <th>Payment Method</th>
                <th>Payment Status</th>
                <th>Order StatusId</th>
                <th>Date Of Creation</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat='o in orders'>
                <td>{{o.OrderId}}</td>
                <td>{{o.ClientAddress}}</td>
                <td>{{o.DeliveryMethod}}</td>
                <td>{{o.PaymentMethod}}</td>

                <td ng-if='o.PaymentStatus=="Оплачен"' class='success'>{{o.PaymentStatus}}</td>
                <td ng-if='o.PaymentStatus=="Ожидает оплаты"' class='danger'>{{o.PaymentStatus}}</td>

                <td ng-if='o.OrderStatusId=="Ожидает оплаты"' class='danger'>{{o.OrderStatusId}}</td>
                <td ng-if='o.OrderStatusId=="Ожидает отгрузки"' class='warning'>{{o.OrderStatusId}}</td>
                <td ng-if='o.OrderStatusId=="Отгружен"' class='info'>{{o.OrderStatusId}}</td>
                <td ng-if='o.OrderStatusId=="Доставлен"' class='success'>{{o.OrderStatusId}}</td>

                <td>{{o.DateOfCreation}}</td>
            </tr>

        </tbody>
    </table>
    <link rel='stylesheet' type='text/css' href='./pages/orders/orders.css'/>
</div>